*{
	margin: 0px;
	padding: 0px;
}
body
{background-color:#d3e7f5;
overflow: auto; }
.header
{
	font-family: cursive;
	text-align: center;
	padding: 30px; 
	font-size: 50px;
}
.main
{
	padding: 0px,10px,0px;
}
.item
{
	background-color: grey;
	margin: 10px;
	float: left;
	height: 200px;
	width: 400px;
	border:2px solid black;
	padding-left: 20px;
	overflow: auto;
}
.menu{
	border: 2px solid black;
	position: relative;
	top: 0px;
	float: right;
	padding : 5px;

	font-size: 30px;
	text-align: center;
}
.section1
{
	background-color: #c78fb8;
}
.section2
{
	background-color: yellow;
}
.section3
{
	background-color:red;
}
.item p
{
	padding: 60px,0px,15px,20px;
	padding-top: 50px;
	font-size: 18px;
}
@media(min-width: 768px) and (max-width:991px)
{
	.main #Chicken{width: 40%}
	.main #Beef{width: 40%}
	.main #Sushi{width: 83%;clear: left;}

}
@media(max-width: 768px)
{
	.main #chicken{width: 95%;}
	.main #chicken{width: 95%;clear: left;}
	.main #chicken{width: 95%;clear: left;}


}
